.root {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--space-05);
  opacity: 0.6;
  transition: all 0.2s ease;

  font-size: 0.75rem;
  text-decoration: underline;
}

.root:hover {
  opacity: 1;
  font-size: 0.8rem;
  cursor: pointer;
}
