.root {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--space-02);
  opacity: 0.6;
  transition: opacity 0.2s ease;

  font-size: 0.75rem;
}

.root:hover {
  opacity: 1;
}
